/* s */
/* e */
/* f */
/* t */
/* y */

@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

* {
    scroll-behavior: smooth;
}

body {
    font-family: "Rubik";
    color: #fff;
    background: rgb(11, 11, 11);
    background: linear-gradient(135deg, rgb(0, 0, 0) 0%, rgb(13, 13, 14) 56%, rgb(18, 18, 19) 100%);
    min-height: 205vh;
    overflow: hidden;
    overflow-x: hidden;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    gap: 0px;
}

.desc {
    font-size: 100%;
    position: absolute;
    bottom: 61%;
    text-align: center;
}

h1 {
    font-size: 325%;
    margin-bottom: 5px;
}


h3 {
    padding-bottom: 15px;
    text-align: center;
}

#location-logo {
    opacity: 0.5;
    padding-right: 5px;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.colored-text {
    background: -webkit-linear-gradient(#838383, #797878);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}

::-webkit-scrollbar {
    width: 0px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 52px;
    background-color: rgba(5, 5, 5, 0.7);
    backdrop-filter: blur(5px);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-left: 0px;
    border-top: 0px;
    border-width: 1px;
    z-index: 1;
}

header {
    height: 100%;
}

#dcheader,
#sourceheader {
    position: fixed;
    top: 35%;
    left: 70%;
    font-size: 90%;
    opacity: 0.75;
}

#sourceheader {
    left: 76%;
}

#logo {
    position: fixed;
    top: 20%;
    left: 16%;
    width: 33px;
}

a {
    color: white;
    text-decoration: none;
}

input, button {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.5);
    border-style: solid;
    margin-top: 7.5px;
    background-color: rgba(12, 12, 12, 0.7);
}

#btn {
    color: rgba(255, 255, 255, 0.5);
    font-family: Rubik;
}

::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-family: Rubik;
    text-align: center;
}

.pending {
    background: -webkit-linear-gradient(#54c7d6, #1982b3);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}

.error {
    background: -webkit-linear-gradient(#d65454, #b31919);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}

.done {
    background: -webkit-linear-gradient(#5fd654, #19b33a);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}

@media screen and (max-width: 535px) {
    .member {
        width: 450px;
    }

    .activity {
        width: 450px;
    }

    .add-on-discord {
        left: 290px;
        width: 176px;
    }

    .display-name {
        left: 130px;
    }

    .username {
        left: 130px;
    }

    .details {
        left: 130px;
    }

    .title {
        left: 130px;
    }

    .state {
        left: 130px;
    }
}

@media screen and (max-width: 1100px) {
    #dcheader {
        left: 67%;
    }
}

@media screen and (max-width: 850px) {
    #dcheader {
        left: 66%;
    }
}

@media screen and (max-width: 600px) {
    #dcheader {
        left: 63%;
    }
}