body {
    background-color: #000;
    font-family: "GT Pressura Mono", monospace;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

main {
    opacity: 0;
    margin-top: 180px;
    animation: slideIn 1s forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

h1 {
    color: #fff;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.5);
}

h2 {
    font-size: 92%;
    margin-left: 15px;
}

h3 {
    color: #fff;
    margin-left: -20px;
    text-align: center;
}

h3 .done {
    color: #2BC03E;
}

h3 .error {
    color: #CA2C2C;
}

::placeholder {
    color: #fff;
    margin-left: 43px;
    font-family: "GT Pressura Mono", monospace;
}

::selection {
    background-color: #fff;
    color: #fff;
}

input,
button {
    margin-left: 50px;
    font-size: 107.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    border-style: hidden;
    font-family: "GT Pressura Mono", monospace;
}

button {
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 8px;
    margin-top: 15px;
    margin-left: 460px;
    font-size: 105%;
    font-weight: bolder;
}

.note {
    position: fixed;
    top: 890px;
    right: 1515px;
    padding: 6px;
    color: #fff;
    opacity: 0.2;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    white-space: nowrap;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: 0.4s;
}

p {
    color: #fff
}